p {
  color: black;
}

  body {
       background-color: lightgrey;
       }


  h2 {
  color: black;
  font-weight: 250;
  font-size: 20px;
     }

h3 {
  color: black;
  font-weight: 125;
  font-size: 30px;
  margin-top: -20px;
  }

.heading-support {            
  color: black;
  font-weight: 100;
  font-size: 20px;
                }
  

