p {
  color: black;
}

  body {
       background-color: silver;
       }


  h2 {
  color: black;
  font-weight: 500px;
  font-size: 20px;
  margin-top: -5px;
     }

h3 {
  color: black;
  font-weight: bold;
  font-size: 30px;
  margin-top: 5px;
  }

.heading-support {            
  color: black;
  font-weight: bold;
  font-size: 20px;
                }

.work {
  
  color: black;
  font-size: 18px;
  border-bottom: 3px solid #999;
      }

div.page {
	margin-top: 20px;
	margin-left: 200px;
	margin-right: 200px;

	padding: 10px 150px 10px 150px;

	border-radius: 15px;
	background-color: lightgrey;

	text-align: left;             
	}


  .photo {
	margin-top: 800px;
	margin-left: 600px;
         }



