p {
  color: black;
}

  body {
       background-color: lightgrey;
       }


  h2 {
  color: black;
  font-weight: 500;
  font-size: 20px;
  margin-top: -5px;
     }

h3 {
  color: black;
  font-weight: bold;
  font-size: 30px;
  margin-top: 5px;
  }

.heading-support {            
  color: black;
  font-weight: bold;
  font-size: 20px;
                }

.work {
  
  color: black;
  font-size: 18px;
  
      }
  

